// ################################ INIT ############################### //
*{
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box; 
}

ul{
    list-style-type: none;
}

// ################################ BODY ############################### //
body{
    label{
        &.required{
            &::after{
                content:"*";
                color:red;}
            }
        }
        background-image: url("../images/head/dodo\ -\ fondu3.png");
        background-position: top right; 
        background-size: 50%; 
        background-repeat: no-repeat;  
}

main{
    padding-bottom: 50px;
}

// ############################## NAV BAR ############################## //
a.navbar-brand{
    text-align: center;
}

ul.listicon li{
    display: inline;
    color: white;
}


.bi{
    font-size: 1.5rem;
    color: white;
}
a:hover{
    font-weight: bold;
}
.btlogout{
    margin-left: 3rem;
}
i.bi.bi-x-circle-fill:hover{
    color:red;
}
.bticon{
    text-decoration: none;
    margin-left: 1rem;
}

// ############################## CAROUSEL ############################# //
#home-carousel{
    width: 100%;
    max-width: 600px;
    text-align: center !important;
}

// ############################### TITRES ############################## //
h1{
    font-size: 3vh !important;
    font-weight: bold;
    color:#0080FF;
}

// ######################### CHAMPS FORMULAIRES ######################## //
.form-control{
    border-radius: 10vh !important;
    margin-bottom: 2vh !important;
}
/* test pour video

.bg-video{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    margin-top: -20%;
}

.dodo{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    margin-top: -10%;
}
*/


// ############################### FOOTER ############################## //

footer{
    position:absolute;/*à cause de la position absolute le texte peut être caché/serré sur les bords. il faut mettre un padding de minimum 38px dans la balise "main"*/
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #0080FF;
    color:white;
    padding: 20px 0;
    font-size:x-small;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a.footer-list-link{
    list-style: none;
    color: white;
    text-decoration: none;
}

.footer-list-link:hover{
    font-weight: bold;
}

ul.footer-list.list-social{
    display:flex;
    flex-direction: row;
    text-align: start;
}
ul.footer-list.list-social .footer-list-item{
    padding-right: 10px;
}




ul.footer-list.list-link{
text-align: end;
}


// ##################################################################### //
// ########################### MEDIA QUERIES ########################### //
// ##################################################################### //
@media (max-width: 800px) {//pour mobile
    *{
        background-color: red !important;
    }

    // ############################### FOOTER ############################## //
    footer{
        display:flexbox;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    ul.footer-list.list-link{
        text-align: center;
    }

}







