body{
    label{
        &.required{
            &::after{
                content:"*";
                color:red;}
            }
        }
}

#home-carousel{
    width: 100%;
    max-width: 600px;
}

i.bi.bi-person{
    width: 100% !important;
}