// ################################ INIT ############################### //
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Calibri, Arial, Helvetica, sans-serif;
    text-decoration: none;
}
html, body{
    height: 100%;
    font-size: 1.8vh;
    color : #696969;
}

ul{
    padding: 0;
    list-style-type: none;
}
a, li {
    text-decoration: none;
    list-style: none;
    color: white;
}

a:hover{
    color: white;
    font-weight: bolder;
}
// ################################ BODY ############################### //
body{
    label{
        &.required{
            &::after{
                content:"*";
                color:red;}
        }
    }
    display: flex;
    flex-direction: column;
    
    /*
    background-image: url("../images/head/dodo\ -\ fondu3.png");
    background-position: top right; 
    background-size: 50%; 
    background-repeat: no-repeat; 
    */ 
}

h1{
    color: #0080ff;
    font-weight: bolder !important;
}

// ############################### NAVBAR ############################## //

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #0080ff;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

// LOGO
.logo {
    font-size: 20px;
    text-align: center;
}

// MENU
.menu {
    display: flex;
    gap: 0em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #45a2ff;
    border-radius: 5px;
    transition: 0.3s ease;
}
li#logout:hover {
    background-color: red;
}

.menu li {
    padding: 5px 14px;
}

.menu-title{
    display: none;
    font-size: 1rem;
}

.menu li a i.bi{
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

// BURGER MENU
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

// ================ MEDIA QUERIES NAVBAR ================ //
@media (max-width: 800px) {
    .navbar{
        z-index:100;
    }
    .logo-mark{
        font-size: 0.8em;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: #0080ff;
        right: 0;
        left: 0;
        top:10vh;
        text-align: center;
        padding: 10px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #45a2ff;
        transition: 0.3s ease;
    }

    .menu li {
        margin: 0;
    }

    p.menu-title{
        display: block;
        margin: 0;
    }

    .menu li a i.bi{
        display: none;
    }

    li#logout:hover{
        background-color: red;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

// ################################ MAIN ############################### //
main{
    padding: 125px 50px 50px;
    flex-grow: 1;//prends tout l'espace restant
}

// ############################## CAROUSEL ############################# //
#home-carousel{
    width: 100%;
    max-width: 600px;
    text-align: center !important;
}

// ######################### CHAMPS FORMULAIRES ######################## //
.form-control{
    border-radius: 10vh !important;
    margin-bottom: 2vh !important;
}

// ############################### FOOTER ############################## //
footer{
    /*position: absolute;
    height: auto;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;*/
    background: #0080FF;
    padding: 10px;
    color: #fff;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-block{
    //margin: 5px 0px 5px 0;
    text-align: center;
    align-items: center;
}

h6.footer-title{
    font-size: 1.5em;
    font-weight: bold;
}
#copyright{
    font-size: small;
}

// ================ MEDIA QUERIES FOOTER ================ //
@media (min-width:800px) {

    .footer-container{
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
    }

    ul.footer-list.list-social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 15%;
    }

    .list-link li.footer-list-item{
        text-align:end;  
        font-size: small;  
    }

}//end of media queries





