// ################################ INIT ############################### //
*{
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box; 
}
html{
    font-size: 1.8vh;
}

ul{
    padding: 0;
    list-style-type: none;
}
a, li {
    text-decoration: none;
    list-style: none;
    color: white;
}

a:hover{
    color: white;
    font-weight: bolder;
}
// ################################ BODY ############################### //
body{
    label{
        &.required{
            &::after{
                content:"*";
                color:red;}
            }
        }
        background-image: url("../images/head/dodo\ -\ fondu3.png");
        background-position: top right; 
        background-size: 50%; 
        background-repeat: no-repeat;  
}

// ############################### NAVBAR ############################## //

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #0080ff;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

// LOGO
.logo {
    font-size: 32px;
}

// MENU
.menu {
    display: flex;
    gap: 0em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #45a2ff;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

.menu-title{
    background-color: red;
    display: none;
}

.menu li a i.bi{
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

// ================ MEDIA QUERIES NAVBAR ================ //
@media (max-width: 800px) {
    .menu {
        display: none;
        position: absolute;
        background-color: red;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #45a2ff;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    p.menu-title{
        background-color: red;
        display: block;
    }

    .menu li a i.bi{
        display: none;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}


// ############################## CAROUSEL ############################# //
#home-carousel{
    width: 100%;
    max-width: 600px;
    text-align: center !important;
}

// ######################### CHAMPS FORMULAIRES ######################## //
.form-control{
    border-radius: 10vh !important;
    margin-bottom: 2vh !important;
}

// ############################### FOOTER ############################## //
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0080FF;
    height: auto;
    width: 100vw;

    padding: 1%;
    color: #fff;
}

.footer-container{
    //background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-block{
    //margin: 5px 0px 5px 0;
    text-align: center;
    align-items: center;
}

h6.footer-title{
    font-size: 1.5em;
    font-weight: bold;
}
#copyright{
    font-size: smaller;
}

// ================ MEDIA QUERIES FOOTER ================ //
@media (min-width:800px) {

    .footer{
        padding: 2vh 5vh 2vh 5vh;
    }

    .footer-container{
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: start;
        flex-direction: row;
    }

    .footer-block{
        margin:0 10em;
    }

    ul.footer-list.list-social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 8%;
    }

    .list-link li.footer-list-item{
        text-align:end;    
    }

}//end of media queries





