<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NANI - Confirmation de mail</title>

    <style type="text/css">
        * {
            padding: 0px;
            margin: 20px 20px 0 20px;
            font-family: Calibri, Arial, Helvetica, sans-serif;
            text-align: center;
            text-decoration : none
        }
        body{
            padding-bottom: 20px;
        }

        #Calque_1{
            width : 50px;
            height : 100%;
        }

        div p a.bouton{
            border-radius: 30px;
            background-color: #0080FF;
            color: white;
            box-shadow: 0 0 10px grey;
            width: 100px;
            height: 30px;
            display: inline-flex;
            align-items: center;
            text-align: center;
            justify-content: center; 
        }
        div p a.bouton:hover{
            background-color: green;
        }

        .h1{
            color: #0080FF;
        }
        h5{
            font-style: italic;
        }
    </style>
</head>

<body>
    <div class="container shadow py-3 rounded-bottom">
        <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 181.74 181.73">
            <defs>
                <style>
                    .cls-1{fill:url(#Dégradé_sans_nom);}
                </style>
                <linearGradient id="Dégradé_sans_nom" y1="91.02" x2="181.74" y2="91.02" gradientTransform="matrix(1, 0, 0, -1, 0, 181.89)" gradientUnits="userSpaceOnUse">
                    <stop offset="0.22" stop-color="#52a9ff"/>
                    <stop offset="0.79" stop-color="#c180ff"/>
                </linearGradient>
            </defs>
            <path class="cls-1" d="M161.73,0a20,20,0,0,0-20,20v93.45L118.92,90.64a14.59,14.59,0,0,0,2.49.23A14.17,14.17,0,1,0,107.24,76.7a14.59,14.59,0,0,0,.23,2.49l-18.1-18.1A28.35,28.35,0,1,0,56.75,28.47L34.15,5.87A20,20,0,0,0,0,20V161.73a20,20,0,0,0,40,0V68.28L147.59,175.87a20,20,0,0,0,34.15-14.14V20A20,20,0,0,0,161.73,0Z" transform="translate(0 0)"/>
        </svg>
        <h1 class="h1 mb-3 font-weight-normal">Confirmez votre adresse email!</h1>

        <p>
            Merci de confirmer votre adresse email en cliquant sur le lien ci-dessous :
            <p class="btnConfirmer">
                <a href="{{ signedUrl|raw }}" class="bouton">Confirmer</a>
            </p>
            <br><br>
            Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
        </p>

        <p>
            Merci!
        </p>
        <h5>
            L'équipe Nani
        </h5>
    </div>
</body>

</html>