<h1 class="h3 mb-3 font-weight-normal">Confirmez votre adresse email!</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien ci-dessous :
        <br><br>
    <a href="{{ signedUrl|raw }}" class="btn btn-success btn-sm">Confirmer</a>.
        <br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
