{% extends 'base.html.twig' %}

{% block title %}
    Nani - Contact
{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <div class="container">
        <div class="form">
            <div class="contact-info">
                <h3 class="title">Let's get in touch</h3>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                </p>

                <div class="info">
                    <div class="information">
                        <i class="bi bi-map"></i>
                        <p>17 rue Paul Fort, 77330 Ozoir la ferrière - France</p>
                    </div>
                    <div class="information">
                        <i class="bi bi-envelope"></i>
                        <p>contact@nani.com</p>
                    </div>
                    <div class="information">
                        <i class="bi bi-telephone"></i>
                        <p>+33 (0)1.23.45.67.89</p>
                    </div>
                </div>

                <div class="social-media">
                    <p>Suivez-nous sur :</p>
                    <div class="social-icons">
                        <a href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <form action="index.html" autocomplete="off">
                    <h3 class="title">Contactez-nous</h3>
                    <div class="input-container">
                        <label for="name">Nom</label>
                        <input type="text" name="name" class="input" placeholder="Nom" />
                    </div>
                    <div class="input-container">
                        <label for="email">e-mail&nbsp;:</label>
                        <input type="email" name="email" class="input" placeholder="Email" />
                    </div>
                    <div class="input-container">
                        <label for="phone">Téléphone</label>
                        <input type="tel" name="phone" class="input" placeholder="N° Téléphone" />
                    </div>
                    <div class="input-container textarea">
                        <label for="message">Message</label>
                        <textarea name="message" class="input" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-link" type="submit" title="Envoyer">
                        Envoyer
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
