{% extends 'base-backend.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center">
        <h1>Modifier</h1>
        <a href="{{ path('app_admin_carousel_index') }}" class="btn btn-dark btn-sm my-2 rounded"  title="Annuler">Annuler</a>
    </div>

    {{ include('admin_carousel/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="text-end">
        {{ include('admin_carousel/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
